@model IEnumerable<CoreProjectRole.ViewModels.ProductV>

@{
    ViewData["Title"] = "Index";
}


<h2 style="font-family:Algerian; text-align:center; color:navy;">Product details</h2>
<div class="container" style="background-color:#18ffff">

    <p>
        <a asp-action="Create">Add new</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>

                    <td>
                        <img src="~/Images/@item.Image" width="80" height="80" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |                   |
                        <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

